
*{
    margin: 0;
    padding: 0;
    box-sizing: border-boxo;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    height: 600px;
    width: 400px;
    background-color:antiquewhite;
    border-radius: 15px;
    gap:30px;
     display: flex;
    flex-direction: column;
    align-items: center;
    
}

.box img{
    width: 400px;
    height: 200px;
    border-top-left-radius: 15px;
     border-top-right-radius: 15px;
    
}

.h{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
    text-align: center;
}

#amountBox{
    width: 80%;
    height: 10%;
    background-color: rgb(61, 171, 171);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.leftbox{
    height: 100%;
    width: fit-content;
    display: flex;
    gap: 15px;

    align-items: center;
}

.rightbox{



}

.imgBox img{
    height: 20px;
    width: 20px;
    border-radius: 50px;
}
#payment{
    width: 80%;
    height: 9%;
    background-color: rgb(6, 6, 71);
    color: white;
    box-shadow: 0cap;

}

a{
    text-decoration: none;
}